#container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
button{
    font-size: 1.5em;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(41, 177, 214);
    color:rgb(5, 48, 84);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
}
button:active{
    background-color: aquamarine;
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}